body {
    background-image: url(bg.jpeg);
}

.koleksi1 {
    display: flex;
    gap: 10px;
    width: 300px;
    margin-left: 80px;
}

.koleksi1 > div {
    border-radius: 20px;
    gap: 10px;
    height: 375px;
    background-color: #fff;
    flex: 1;
    transition: .3s all ease;
}

.koleksi1 > div:hover {
    flex: 2;
    background-color: rgb(207, 207, 207);
}

.koleksi2 {
    display: flex;
    gap: 10px;
    width: 1110px;
    margin-left: 80px;
    bottom: 10px;
}

.koleksi2 > div {
    border-radius: 20px;
    gap: 10px;
    height: 200px;
    background-color: #fff;
    flex: 1;
    transition: .3s all ease;
}

.koleksi2 > div:hover {
    flex: 2;
    background-color: rgb(207, 207, 207);
}

.koleksi3 {
    display: flex;
    gap: 10px;
    width: 700px;
    margin-left: 20px;
    margin-top: 55px;
    left: 100px;
    
}

.koleksi3 > div {
    border-radius: 20px;
    gap: 10px;
    height: 200px;
    background-color: #fff;
    flex: 1;
    transition: .3s all ease;
    background-size: 356px 200px;
    background-repeat: no-repeat;
}

.koleksi3 > div:hover {
    flex: 2;
    background-color: rgb(207, 207, 207);
}

.koleksi-container {
    display: flex;
    gap: 15px; 
    margin: 20px 0;
}

.kata {
   text-align: center;
   position: absolute;
   width: 500px;
   top: 380px;
   left: 500px;
   justify-content: center;
   background-color: whitesmoke;
   border-radius: 20px;
   box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.topbar {
    width: 100%;
    height: 25px;
    background-color: #333;
    border-bottom: 3px solid gray;
}

.back {
    position: relative;
    top: 3px;
    left: 10px;
}

a {
    color: #fff;
}

audio {
    position: relative;
}

